
.image-div img{
    width: 30%;
    margin: auto;
    display: block;
}

main{
    margin: 2rem;
}

main p {
    margin: 1rem 0;
    text-align: justify;
}
main ul{
    padding: 0 0 0 4rem;
}

button[type=button]{
    /*background-color: #0c0b0b;*/
}

section{
    overflow-x: auto;
}
select{

    margin:  2rem 0 4rem 4rem;
    background-color: #3B3B3B;
    color: #fff;
    padding: .3rem;
    border: none;
    font-weight: bold;
}

table{
    width: 100%;
    margin: auto auto 3rem;
    text-align: center;

    border-collapse: collapse;
}
table caption{
    font-weight: bold;
    background-color: #3B3B3B;
    padding: .5rem;
    color: #fff;
}
td{
    padding: .3rem;
}

tr:nth-child(even) {
    background-color: #00c5cf59;
    /*background-color: #00c5cf59;*/
}

footer {
    text-align: center;
}

@media screen and (max-width: 640px) {
    table{
        font-size: small;
    }
}
