<!DOCTYPE html>
{% load static %}
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLEI-Calendário</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static './css/navBar.css' %}">
    <link rel="stylesheet" href="{% static './css/recursos.css' %}">
    <link rel="stylesheet" href="{% static './css/calendario.css' %}">
</head>

<body>
    <header>
        <h1><a href="{% url 'home' %}">NLEI</a></h1>
        <nav>
            <ul id="menu_mobile">
                <li><a href="{% url 'lei' %}">LEI</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
                <li><a href="{% url 'recursos' %}">Recursos</a></li>
                <li><a href="{% url 'calendario' %}">Calendário</a></li>
                <li><a href="{% url 'notas' %}">Notas</a></li>
            </ul>
        </nav>
        <div id="botao_menu"><i class="fa-solid fa-bars"></i></div>
    </header>

    <h2>Calendário</h2>
    <main>


        <section id="eventos">

            <div class="evento">
                <div>
                    <span>ABR</span>
                    <span>16</span>
                </div>
                <div>
                    <span>Sábado, 11:21AM-05:30PM</span>
                    <span>Entrega de Trabalho, Ánalise de Sistemas</span>
                    <details>
                        <p>Os trabalhos devem ser entregues até o dia do prazo.
                            Devem colocar todos os ficheiros e zipar.
                        </p>
                    </details>
                    <a href="#">Ver evento</a>
                </div>
            </div>
            <div class="evento">
                <div>
                    <span>ABR</span>
                    <span>18</span>
                </div>
                <div>
                    <span>Sábado, 11:21AM-05:30PM</span>
                    <span>Entrega de Trabalho, Ánalise de Sistemas</span>
                    <details>
                        <p>Os trabalhos devem ser entregues até o dia do prazo.
                            Devem colocar todos os ficheiros e zipar.
                        </p>
                    </details>
                    <a href="#">Ver evento</a>
                </div>
            </div>
            <div class="evento">
                <div>
                    <span>ABR</span>
                    <span>19</span>
                </div>
                <div>
                    <span>Sábado, 11:21AM-05:30PM</span>
                    <span>Teste, Inglês</span>
                    <details>
                        <p>Os devem estar no local da avaliação pelo menos 15 minutos antes.
                        </p>
                    </details>
                    <a href="#">Ver evento</a>
                </div>
            </div>
            <div class="evento">
                <div>
                    <span>ABR</span>
                    <span>21</span>
                </div>
                <div>
                    <span>Sexta-feira, 11:21AM-05:30PM</span>
                    <span>Entrega de Trabalho, Introdução à programação orientada a objectos.</span>
                    <details>
                        <p>Os trabalhos devem ser entregues até o dia do prazo.
                            Devem colocar todos os ficheiros e zipar.
                        </p>
                    </details>
                    <a href="#">Ver evento</a>
                </div>
            </div>
            <div class="evento">
                <div>
                    <span>ABR</span>
                    <span>24</span>
                </div>
                <div>
                    <span>segunda-feira, 18:00AM-17:30PM</span>
                    <span>Teste teorico de inglês, Inglês.</span>
                    <details>
                        <p>Os alunos devem comparecer ao locar de avaliação com pelo menos uma antecedência prêvia de 15
                            minutos.
                        </p>
                    </details>
                    <a href="#">Ver evento</a>
                </div>
            </div>
        </section>

        <section id="exemplo">
            
        </section>

    </main>

    <script src="{% static './js/menu.js' %}"></script>
    <script src="{% static './js/api/calendario.js' %}"></script>


</body>

</html>