<!DOCTYPE html>
{% load static %}
<html lang="pt">
    {% load pwa %}
    {% progressive_web_app_meta %}
<head>

    <meta name="description" content="Núcleo formado por alunos de engenharia informática da Universidade lusiadas">
    <meta name="keywords" content="nlei, universidade lusiada, lusiada">
    <meta name="author" content="NLEI Members">
    <meta name="theme-color" content="#3B3B3B">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static './imagens/icons/nlei_icon_x144.svg' %}">
    <link rel="icon" href="{% static './imagens/icons/nlei_icon_x96.png' %}" type="image/png">



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLEI</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static './css/navBar.css' %}">
    <link rel="stylesheet" href="{% static './css/index.css' %}">



</head>

<body>
    <header>
        <h1><a href="{% url 'home' %}">NLEI</a></h1>
        <nav>
            <ul id="menu_mobile">
                <li><a href="{% url 'lei' %}">LEI</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
                <li><a href="{% url 'recursos' %}">Recursos</a></li>
                <li><a href="{% url 'calendario' %}">Calendário</a></li>
                <li><a href="{% url 'notas' %}">Notas</a></li>
            </ul>
        </nav>
        <div id="botao_menu"><i class="fa-solid fa-bars"></i></div>
    </header>
    <main>

        <section class="introducao">
            <div>
                <p>Bem vindo ao <br> Núcleo de Licenciatura em <br> <span>Engenharia Informática</span> <br> da
                    Universidade Lusiada.</p>
                <p>Aqui respiramos tecnológia</p>

                <a href="#">Explorar</a>

            </div>
            <img src="{% static './imagens/cherry-689.png' %}" alt="programmer">
        </section>


        <!-- mais opções-->
        <div id="links_git_mail">
            <div id="ellips_xmark"><i class="fa-solid fa-xmark fa-ellipsis-vertical" id="abrir_fecharLinks"></i></div>
            <div id="divComLinks">
                <a target="_blank" href="https://github.com/nlinfo"><i class="fa-brands fa-github"></i></a>
                <a href="mailto:nleigeral0@gmail.com"><i class="fa-solid fa-at"></i></a>
            </div>
        </div>

    </main>


    <script src="{% static './js/index.js' %}"></script>
    <script src="{% static './js/menu.js' %}"></script>

</body>

</html>