<!DOCTYPE html>
{% load static %}
<html lang="pt">
    {% load pwa %}
    {% progressive_web_app_meta %}
<head>
    
    <meta name="description" content="Núcleo formado por alunos de engenharia informática da Universidade lusiadas">
    <meta name="keywords" content="nlei, universidade lusiada, lusiada">
    <meta name="author" content="NLEI Members">
    <meta name="theme-color" content="#3B3B3B">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static './imagens/icons/nlei_icon_x144.svg' %}">
    <link rel="icon" href="{% static './imagens/icons/nlei_icon_x96.png' %}" type="image/png">
    

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEI</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static './css/index.css' %}">
    <link rel="stylesheet" href="{% static './css/navBar.css' %}">
    <link rel="stylesheet" href="{% static './css/recursos.css' %}">
    <link rel="stylesheet" href="{% static './css/lei.css' %}">


</head>

<body>

    <header>
        <h1><a href="{% url 'home' %}">NLEI</a></h1>
        <nav>
            <ul id="menu_mobile">
                <li><a href="{% url 'lei' %}">LEI</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
                <li><a href="{% url 'recursos' %}">Recursos</a></li>
                <li><a href="{% url 'calendario' %}">Calendário</a></li>
                <li><a href="{% url 'notas' %}">Notas</a></li>
            </ul>
        </nav>
        <div id="botao_menu"><i class="fa-solid fa-bars"></i></div>
    </header>

    <h2>Licenciatura em Engenharia Informatica</h2>

    <div class="image-div">
        <img src="{% static 'imagens/informatica.gif' %}" alt="robô"/>
    </div>
    <main>



        <h3>Apresentação</h3>
        <P>A formação nas áreas tecnológicas é essencial para o desenvolvimento do
            nosso país e mais especificamente das suas indústrias,<br> sejam elas de
            manufactura ou de serviços. A carência de técnicos qualificados:</P>
        <ul>
            <li>Conduz à impossibilidade de atrair novas empresas estrangeiras,
                nomeadamente multinacionais;</li>
            <li>Dificulta o desenvolvimento das empresas já implementadas entre nós;</li>
            <li>Leva a considerar a deslocação para o estrangeiro das empresas presentemente sedeadas no nosso país.
            </li>
        </ul>
        <p>Devem, por isso, ser criados cursos em áreas tecnológicas em franco desenvolvimento que respondam às
            necessidades reais do mercado e à evolução do tecido empresarial.
            Nesta perspectiva os jovens licenciados terão um índice elevado de
            empregabilidade, sendo também previsível uma grande procura destes
            cursos por parte dos candidatos ao ensino superior.
            A licenciatura em Engenharia Informática permite a aquisição de diversificados
            conhecimentos que permitirão obter competências para
            poder compreender, projectar e orientar projectos nesta área do conhecimento.
            Com o conteúdo programático das diferentes unidades
            curriculares e as metodologias de ensino, nomeadamente a aquisição de conhecimentos com base
            na aprendizagem, o licenciado nesta área estará apto a ingressar no meio profissional. </p>
        <h3>Objectivos de aprendizagem</h3>
        <p>O 1.º ciclo de estudos, conducente à atribuição do grau de
            licenciado, tem como objectivo geral dotar o estudante de um nível de competências genéricas
            na área especifica da engenharia informática, domínio onde Portugal é altamente deficitário em mão de
            obra.<br><br>
            Consequentemente, este ciclo de estudos visa assegurar:</p>
        <ul>
            <li>Um grau de empregabilidade indiferenciada e para-específica no domínio técnico-profissional da
                engenharia informática;</li>
            <li> prossecução dos estudos para obtenção de um grau académico superior, ao nível do 2.º e 3.º ciclos.</li>
        </ul>
        <p>Narmação dos licenciados será dada particular relevância aos seguintes aspectos:</p>
        <ul>
            <li>Sólida preparação de base na área da matemática;</li>
            <li>Obtenção de conhecimentos profundos na informática e na gestão dos sistemas informáticos;</li>
            <li>Desenvolvimento das capacidades de construção de algoritmos associados ao conhecimento das
                diferentes abordagens e linguagens de programação de forma a adoptar as ferramentas mais
                adequadas para a solução de cada problema;</li>
            <li>Preparação profunda para a concepção de sistemas de informção e sistemas de apoio à decisão
                assentes numa sólida formação em estruturas de gestão de bases de dados e em novas técnicas
                de desenvolvimento de aplicações;</li>
            <li>Conhecimento profundo do funcionamento dos serviços de Internet, não só ao nível da sua
                instalação e manutenção, como também ao nível do desenvolvimento de aplicações distribuídas c
                om particular incidência para a utilização das tecnologias multimédia.</li>
        </ul>

        <section>

            <select id="select" name="select">
                <option value="">Planos de estudos</option>
                <option value="ano0">Ano 0</option>
                <option value="ano1">1º Ano</option>
            </select>

            <div id="div1" class="ano0">
                <table>

                    <caption>Ano zero</caption>

                    <tr>
                        <th>Unidade curricular</th>
                        <th>Área cientifica</th>
                        <th>Tipo</th>
                    </tr>
                    <tr>
                        <td>Introdução à Análise Matemática</td>
                        <td>Matemática</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Introdução Álgebra linear</td>
                        <td>Matemática</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Introdução à Arquitetura de computadores</td>
                        <td>Computadores</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Técnica de Expressão Oral e Escrita</td>
                        <td>Lingua</td>
                        <td>Anual</td>

                    </tr>
                    <tr>
                        <td>Inglês</td>
                        <td>Lingua</td>
                        <td>Anual</td>

                    </tr>
                    <tr>
                        <td>Fundamentos de Tecnologia Web</td>
                        <td>Informatica</td>
                        <td>2.º semestre</td>
                    </tr>
                    <tr>
                        <td>Introdução à Bases de Dados</td>
                        <td>Informática</td>
                        <td>2.º semestre</td>
                    </tr>
                    <tr>
                        <td>Introdução à Introdução à Programação</td>
                        <td>Informática</td>
                        <td>2.º semestre</td>
                    </tr>
                </table>
            </div>

            <div id="div2" class="ano1">
                <table>
                    <caption>1º Ano</caption>
                    <tr>
                        <th>Unidade curricular</th>
                        <th>Área cientifica</th>
                        <th>Tipo</th>
                    </tr>
                    <tr>
                        <td>Análise Matemática I</td>
                        <td>Matemática</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Introdução aos Algoritmos e Estruturas de Dados</td>
                        <td>Informática</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Introdução à Probabilidade e Estatística</td>
                        <td>Matemática</td>
                        <td>1. semestre</td>

                    </tr>
                    <tr>
                        <td>Inglês</td>
                        <td>Lingua</td>
                        <td>1. semestre</td>

                    </tr>
                    <tr>
                        <td>Análise Matemática II</td>
                        <td>Matemática</td>
                        <td>2.º semestre</td>
                    </tr>
                    <tr>Algoritmos e Estruturas de Dados</td>
                        <td>Informática</td>
                        <td>2.º semestre</td>
                    </tr>
                    <tr>
                        <td>Oficina de Programação I</td>
                        <td>Informática</td>
                        <td>2.º semestre</td>
                    </tr>
                    <tr>
                        <td>Álgebra Linear e Geometria analítica</td>
                        <td>Matemática</td>
                        <td>2.º semestre</td>
                    </tr>

                </table>
            </div>
            <div id="div3" class="ano2">
                <table>
                    <caption>2º Ano</caption>
                    <tr>
                        <th>Unidade curricular</th>
                        <th>Área cientifica</th>
                        <th>Tipo</th>
                    </tr>
                    <tr>
                        <td>Complementos de Análise Matemática</td>
                        <td>Matemática</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Oficina de Programação II</td>
                        <td>Informática</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Sistemas Operativos</td>
                        <td>Informática</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Introdução à Física</td>
                        <td>Física</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Análise de Sistemas</td>
                        <td>Informática</td>
                        <td>2.º semestre</td>
                    </tr>
                    <tr>
                        <td>Introdução algoritmo e estrutura de dados</td>
                        <td>Informática</td>
                        <td>2.º semestre</td>
                    </tr>
                    <tr>
                        <td>Oficina de Programação III</td>
                        <td>Informática</td>
                        <td>2.º semestre</td>
                    </tr>
                    <tr>
                        <td>Sistemas Distribuídos</td>
                        <td>Informática</td>
                        <td>2. semestre</td>

                    </tr>
                    <tr>
                        <td>Física</td>
                        <td>Física</td>
                        <td>2. semestre</td>

                    </tr>
                </table>
            </div>
            <div id="div4" class="ano3">
                <table>
                    <caption>3º Ano</caption>
                    <tr>
                        <th>Unidade curricular</th>
                        <th>Área cientifica</th>
                        <th>Tipo</th>
                    </tr>
                    <tr>
                        <td>Complementos de Programação</td>
                        <td>Informática</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Bases de Dados</td>
                        <td>Informática</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Programação Web</td>
                        <td>Informática</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Circuitos Elétricos e Eletrónicos</td>
                        <td>Eletrónica</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Arquitetura de computadores</td>
                        <td>Computadores</td>
                        <td>2.º semestre</td>
                    </tr>
                    <tr>
                        <td>Redes Informáticas</td>
                        <td>Computadores</td>
                        <td>2.º semestre</td>
                    </tr>
                    <tr>
                        <td>Programação Funcional</td>
                        <td>Informática</td>
                        <td>2.º semestre</td>
                    </tr>
                    <tr>
                        <td>Sistemas e Sinais</td>
                        <td>Eletrónica</td>
                        <td>2. semestre</td>

                    </tr>
                </table>
            </div>
            <div id="div5" class="ano4">
                <table>
                    <caption>4º Ano</caption>
                    <tr>
                        <th>Unidade curricular</th>
                        <th>Área cientifica</th>
                        <th>Tipo</th>
                    </tr>
                    <tr>
                        <td>Inteligência Artificial</td>
                        <td>Informática</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Computação Gráfica</td>
                        <td>Computadores</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Introdução à Economia</td>
                        <td>Economia e Gestão</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Compiladores</td>
                        <td>Computadores</td>
                        <td>1.º semestre</td>
                    </tr>
                    <tr>
                        <td>Gestão de Projetos de Software</td>
                        <td>Gestão</td>
                        <td>2.º semestre</td>
                    </tr>
                    <tr>
                        <td>Teoria da Computação</td>
                        <td>Informática</td>
                        <td>2.º semestre</td>
                    </tr>
                    <tr>
                        <td>Introdução à Gestão</td>
                        <td>Economia e Gestão</td>
                        <td>2.º semestre</td>
                    </tr>
                    <tr>
                        <td>Oficina de Programação Móvel</td>
                        <td>Informática</td>
                        <td>2. semestre</td>

                    </tr>
                    <tr>
                        <td>Projeto de Computação</td>
                        <td>Informática</td>
                        <td>2. semestre</td>

                    </tr>
                </table>
            </div>
        </section>
    </main>

    <!-- mais opções-->
    <div id="links_git_mail">
        <div id="ellips_xmark"><i class="fa-solid fa-xmark fa-ellipsis-vertical" id="abrir_fecharLinks"></i></div>
        <div id="divComLinks">
            <a target="_blank" href="https://github.com/nlinfo"><i class="fa-brands fa-github"></i></a>
            <a href="mailto:nleigeral0@gmail.com"><i class="fa-solid fa-at"></i></a>
        </div>
    </div>

    <!--footer-->
    <footer id="footer">
        <p class="copyright">&copy; 2022 José Loureiro</p>
    </footer>


    <script src="{% static './js/index.js' %}"></script>
    <script src="{% static './js/lei.js' %}"></script>
    <script src="{% static './js/menu.js' %}"></script>
</body>


</html>