<!DOCTYPE html>
{% load static %}
<html lang="pt">
    {% load pwa %}
    {% progressive_web_app_meta %}
<head>

    <meta name="description" content="Núcleo formado por alunos de engenharia informática da Universidade lusiadas">
    <meta name="keywords" content="nlei, universidade lusiada, lusiada">
    <meta name="author" content="NLEI Members">
    <meta name="theme-color" content="#3B3B3B">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static './imagens/icons/nlei_icon_x144.svg' %}">
    <link rel="icon" href="{% static './imagens/icons/nlei_icon_x96.png' %}" type="image/png">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLEI</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static './css/navBar.css' %}">
    <link rel="stylesheet" href="{% static './css/index.css' %}">
    <link rel="stylesheet" href="{% static './css/news.css' %}">


</head>

<body>
    <header>
        <h1><a href="{% url 'home' %}">NLEI</a></h1>
        <nav>
            <ul id="menu_mobile">
                <li><a href="{% url 'lei' %}">LEI</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
                <li><a href="{% url 'recursos' %}">Recursos</a></li>
                <li><a href="{% url 'calendario' %}">Calendário</a></li>
                <li><a href="{% url 'notas' %}">Notas</a></li>
            </ul>
        </nav>
        <div id="botao_menu"><i class="fa-solid fa-bars"></i></div>
    </header>
    <main>

        <div class="buttons">
            <button id="news_button">News</button>
            <button id="info_button">Informações</button>
            <input type="checkbox" id="informacao" style="display: none;">
        </div>
        <section id="noticias">
            <!--<article class="noticia">
                <h2>Where does it come from?</h2>
                <div>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus enim iusto quisquam, culpa
                        ratione blanditiis optio dolor, neque, repudiandae nesciunt aut veritatis modi ducimus illo cum
                        debitis magnam natus aperiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
                        dolorum soluta perferendis harum. Culpa, sunt recusandae. Itaque deleniti animi accusamus
                        repellendus! Facilis quos magnam ipsa vel ab doloremque perspiciatis? Eos?</p>
                </div>
                <span class="data">Data: 22/08/2022</span>

            </article>-->

        </section>
        <section id="informacoes">
            <!--<article class="noticia">
                <h2>Aviso!</h2>
                <div>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.a5g-2NQGpUuaA0FJXXLY8QHaHc%26pid%3DApi&f=1" alt="">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus enim iusto quisquam, culpa
                        ratione blanditiis optio dolor, neque, repudiandae nesciunt aut veritatis modi ducimus illo cum
                        debitis magnam natus aperiam.</p>
                </div>
            </article>-->
        </section>

        <!--pagination-->
        <div class="pagination" id="pagination">
            <a href="#" onclick="buildNewsList(`http://127.0.0.1:8000/api/news-list/?p=1`)">&laquo;</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="" onclick="buildNewsList(`http://127.0.0.1:8000/api/news-list/?p=last`)">&raquo;</a>
        </div>


    </main>

    <!-- mais opções-->
    <div id="links_git_mail">
        <div id="ellips_xmark"><i class="fa-solid fa-xmark fa-ellipsis-vertical" id="abrir_fecharLinks"></i></div>
        <div id="divComLinks">
            <a target="_blank" href="https://github.com/nlinfo"><i class="fa-brands fa-github"></i></a>
            <a href="mailto:nleigeral0@gmail.com"><i class="fa-solid fa-at"></i></a>
        </div>
    </div>


    <script src="{% static './js/index.js' %}"></script>
    <script src="{% static './js/menu.js' %}"></script>
    <script src="{% static './js/news.js' %}"></script>
    <script src="{% static './js/api/news.js' %}"></script>

</body>

</html>