<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLEI</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://kit.fontawesome.com/d2de26b24a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./css/navBar.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/news.css">
    <link rel="stylesheet" href="./css/recursos.css">
</head>

<body>
    <header>
        <h1><a href="./index.html">NLEI</a></h1>
        <nav>
            <ul id="menu_mobile">
                <li><a href="./lei.html">LEI</a></li>
                <li><a href="./news.html">News</a></li>
                <li><a href="">Recursos</a></li>
                <li><a href="./calendario.html">Calendário</a></li>
                <li><a href="./notas.html">Notas</a></li>
            </ul>
        </nav>
        <div id="botao_menu"><i class="fa-solid fa-bars"></i></div>
    </header>

    <h2>Recursos</h2>

    <main>
        <div id="top_bar">
            <button id="abrir_filtro" type="button">Filtrar</button>
            <div>
                <form action="">
                    <input type="search" id="">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>

            </div>
        </div>

        <section id="files">
            <a class="recurso" href="#download?fileId=1">
                <i class="fa-solid fa-folder-open"></i>
                <span>
                    <p>Exercícios de Algébra</p>
                    <span>algebra Linear</span>
                    <span>2020-2021</span>
                </span>
            </a>
            <a class="recurso" href="#download">
                <i class="fa-solid fa-folder-open"></i>
                <span>
                    <p>Exercícios de Análise Matemática</p>
                    <span>Analise Matematica</span>
                    <span>2021-2022</span>
                </span>
            </a>

            <a class="recurso" href="#download">
                <i class="fa-solid fa-folder-open"></i>
                <span>
                    <p>Exercícios de Inglês</p>
                    <span>Inglês</span>
                    <span>2019-2020</span>
                </span>
            </a>
            <a class="recurso" href="#download">
                <i class="fa-solid fa-folder-open"></i>
                <span>
                    <p>Trabalhos práticos de progamação orientada a objectos</p>
                    <span>IPOO</span>
                    <span>2020-2021</span>
                </span>
            </a>
            <a class="recurso" href="#download">
                <i class="fa-solid fa-folder-open"></i>
                <span>
                    <p>Exercícios de Algébra</p>
                    <span>algebra Linear</span>
                    <span>2020-2021</span>
                </span>
            </a>
            <a class="recurso" href="#download">
                <i class="fa-solid fa-folder-open"></i>
                <span>
                    <p>Exercícios de Português</p>
                    <span>Tecnicas de expressao oral e escrita</span>
                    <span>2020-2021</span>
                </span>
            </a>
        </section>
        <section id="filtro" class="fixedSession">
            <form>
                <button id="fechar_filtro" type="button">fechar</button>
                <p>Filtrar por:</p>

                <label for="ano_lectivo">Ano:</label>
                <select name="" id="ano_lectivo">
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                </select>

                <label for="">Cadeira:</label>
                <select name="" id="">
                    <option value="Ingles">Inglês</option>
                    <option value="Analise Matematica">Analise Matemática</option>
                    <option value="Algebra Linear">Algébra Linear</option>
                    <option value="Base de Dados">Base de Dados</option>
                </select>
                <button>filtrar</button>
            </form>
        </section>
        <section class="baixar fixedSession" id="download">
            <button id="fechar_download" type="button">fechar</button>
            <div>
            <p>Aulas de Base de Dados</p>
            <p>Cadeira: introdução à Base de Dados</p>
            <p>Docente: Jõao Carlos</p>
            <p>Ano Letivo: 2021 - 2022</p>

            <button><a href="">Download</a></button>
            </div>
        </section>

    </main>

    <!--pagination-->
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&raquo;</a>
    </div>


    <script src="./js/menu.js"></script>
    <script src="./js/recursos.js"></script>


</body>

</html>