<!DOCTYPE html>
<html lang="pt">

<head>

    <meta name="description" content="Núcleo formado por alunos de engenharia informática da Universidade lusiadas">
    <meta name="keywords" content="nlei, universidade lusiada, lusiada">
    <meta name="author" content="Edivaldo Bonfim">
    <meta name="theme-color" content="#3B3B3B">
    <link rel="apple-touch-icon" sizes="180x180" href="./imagens/icons/nlei_icon_x144.svg">
    <link rel="icon" href="./imagens/icons/nlei_icon_x96.png" type="image/png">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLEI</title>


    <script src="./sw.js"></script>
    <script src="./app.js"></script>
</head>

<body>

</body>

</html>